# Visual Studio Code settings
.vscode/
.vscode/*

# ESP-IDF build artifacts
build/

# CMake and compiler files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Python virtual environment and caches
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and debugging
*.log
*.bak
*.swp
*.swo
*.swn

# ESP-IDF Extension specific files
.espressif/
dist/
components/.cache/
